@model IEnumerable<Practica08Noticias.Models.Categorias>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriasID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriasID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriasID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
